<%= inspect @texts %>

<%= for {text, id} <- Enum.with_index(@texts) do %>
  <form phx-change="update">
    <input type="text" name="text" value="<%= text %>" />
    <input type="hidden" name="id" value="<%= id %>" />
  </form>
<% end %>
